<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Список заметок</title>
</head>
<body>
<h1>Заметки:</h1>
<br>
<tr th:each="note: ${notesList}">
    <td th:text="${note.title}" />
    <td th:text="${note.content}" /> | <a th:href="@{/note/{id}(id=${note.id})}">Редактировать</a>
    <br>
</tr>
<hr>

<h3>Создать новую заметку</h3>
<form action="#" th:action="@{/note/create}" th:object="${note}" method="post">
    <p>Название заметки: <input type="text" th:field="*{title}" /></p>
    <p>Описание заметки: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Добавить заметку" />
</form>
</body>
</html>